<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    
        <app-book-category-menu></app-book-category-menu>
           
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<div class="section-content section-content-p30">
					<div class="container-fluid">
						<div class="header-wrap">
							
							<app-search></app-search>
						
							<app-cart-status></app-cart-status>
                            
						</div>
						<div class="account-wrap"></div>
					</div>
				</div>
			</header>
			<!-- END HEADER DESKTOP-->

            <!--  MAIN CONTENT-->
            <router-outlet></router-outlet>
            

      	<!-- FOOTER DESKTOP-->
			<footer class="footer-desktop">
				<div class="section-content section-content-p30">
					<div class="container-fluid">
						<div class="footer-wrap">
              <a routerLink="/contact" class="mt-1 footer-link">
                Entre em contato
              </a>
              |
              <a routerLink="/team" class="mt-1 footer-link">
                Sobre nós
              </a>
              |
              <a routerLink="/questions" class="mt-1 footer-link">
                Perguntas Frequentes
              </a>
						</div>
					</div>
				</div>
			</footer>
			<!-- END FOOTER DESKTOP-->

    </div>
</div>    

<!-- END PAGE CONTAINER-->
<!-- <footer>
    <ul>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contatos</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</footer> -->
