<div class="main-content">
  <div class="questions-section">
    <div class="container-fluid">
      <h1>Perguntas Frequentes</h1>
      <p>Tire suas dúvidas sobre a Ez Lib!</p>

      <div class="questions-list mt-5">
        <h4>Como comprar livro?</h4>
        <p>
          Aqui na Ez Lib, comprar livros é muito fácil! Basta selecionar um na lista, adicioná-lo ao carrinho,
          logar em sua conta e concluir a compra. Após isso, cheque em sua Biblioteca Digital e encontrará
          todos seus livros lá.
        </p>

        <h4>Consigo baixar um livro?</h4>
        <p>Infelizmente, não. Mas há o leitor digital para você desfrutar da leitura!</p>

        <h4>What is Lorem Ipsum?</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>

        <h4>Why do we use it?</h4>
        <p>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        </p>
      </div>
    </div>
  </div>
</div>
