<div class="main-content">
  <div class="team-section">
    <div class="container-fluid">
      <h1>Sobre nós</h1>
      <p>Conheça a equipe por trás da Ez Lib</p>

      <ul class="list-unstyled">
        <li>Amanda Rodrigues Leite - 10249368</li>
        <li>Dayane Cristina David Dos Santos - 10407424</li>
        <li>Filipe Leandro Rodrigues De Souza - 10407628</li>
        <li>Rodrigo Nunes Valentim - 10407711</li>
        <li>Sidnei Antonio De Oliveira - 10407766</li>
      </ul>
    </div>
  </div>
</div>
