<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-flud">

            <div *ngIf="cartItems.length > 0">

                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Imagem</th>
                        <th width="40%">Detalhes do Livro</th>
                        <th width="20%"></th>
                        <th width="10%"></th>

                    </tr>

                    <tr *ngFor="let item of cartItems">
                        <td>
                            <img src="{{item.imageUrl}}" class="img-responsive" width="150px"/>
                        </td>
                        <td>
                            <p>{{item.name}}</p>
                            <p>{{item.author}}</p>
                        </td>
                        <td>
                            <div class="itens">
                                <label>Preço:</label> {{item.price | currency: 'BRL'}}
                            </div>
                        </td>
                        <td>
                            <div>
                                <button (click)="remove(item)" class="btn btn-primary btn-sm mt-2">X</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td style="font-weight: bold;">
                            <p>Total: {{totalPrice | currency: 'BRL'}}</p>
                            <div>
                                <a  class="btn btn-primary btn-sm mt-2" (click)="onSubmit()">Finalizar Compra</a>
                            </div>
                        </td>
                    </tr>

                
                </table>
            </div>

            <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12">
                Seu carrinho está vazio
            </div>
        </div>
    </div>
</div>